#Gif>img:first-child {
    display: none;
    justify-content: center;

}
#Gif>img:last-child{
    display: none;
    justify-content: center;

}
#Gif>img {
   height: 75vh;
    width: 75vh;
}
#lifeMeter{
    display: flex;
}
#lives{
align-self: center;
    padding-left: .5em;
    font-size: x-large;
    font-weight: bolder;
}