h1 {
    color: #b68a08;
    text-align: center;
}
h2 {
color: rebeccapurple;
   text-decoration: underline;
}

body {
}

body {
    background: url(/Users/ryanphillips/IdeaProjects/codeup-web-exercises/Images/computers.jpeg) silver;
}